body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures everything fits within the viewport */
    margin: 0px 0px 0px 0px;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

.header img {
    padding: 40px 0px 0px 0px;
    width: 80px;
    height: 30px;
    margin-bottom: 0px;
}

#signInForm {
    padding: 24px 0px 0px;
}

.form-container {
    padding: 0px 0px 0px 0px;
}

.form-container p {
    text-align: center;
    width: 450px;
    font-size: 25px;
}

.input-group {

    margin: 40px 8px 25px 8px;
    padding: 0px 40px 0px 20px;
    text-align: left;
    color: #000000;
    font-size: 14px;

}

 

/* Custom styling for the checkbox */
#showPassword {
    width: 16px;
    height: 16px;
    accent-color: #007bff; /* Changes checkbox color */
    cursor: pointer;
}

#signInForm [type="checkbox"] {
    margin: 7px 10px 0px 0px;
}

.not {
    text-align: LEFT;
    padding: 0px 0px 0px 15px;
    margin: 40px 0px 0px 0px;
    /* padding: 0px; */
    opacity: 55%;
}

.input-group input {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.learn {
    text-align: left;
    padding: 0px 5px 3px 15px;
    opacity: 100%;
    color: #007bff;
}

.btn {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 0px 15px 0px 1px;
    margin: 40px 0px 0px 25px;
}

button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button[type="create"] {
    background-color: #ffffff;
    
    text-align: right;
    color: #007bff;

}

button[type="create"]:hover {

   background-color: #f5f9ff;
}

/* Styling for "Next" button */
button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
}

button[type="submit"]:hover {
    background-color: #0063cd;
}

/* Fixed Footer */
.footer {
    margin-top: 90px;
    display: flex;
    justify-content: right; /* Centers the links */
    gap: 20px; /* Adds space between links */
    font-size: small;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
